<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270855756479-ujcfpenrlghui18soal20vk31n9f67ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270855756479-ujcfpenrlghui18soal20vk31n9f67ah</string>
	<key>API_KEY</key>
	<string>AIzaSyDVF4je6zx2thD0_RsiCRYEFxKJ_OGhITU</string>
	<key>GCM_SENDER_ID</key>
	<string>270855756479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hani.easaccTask</string>
	<key>PROJECT_ID</key>
	<string>easacc-task-248f2</string>
	<key>STORAGE_BUCKET</key>
	<string>easacc-task-248f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270855756479:ios:48a1815baf6cfeff07040a</string>
</dict>
</plist>